<html>
  <body>
      <% if (messages.length > 0) { %>
        <ul>
        <% messages.forEach(function(message) { %>
          <div>
            <h2><%= message.username %></h2>
            <p>Text: <%= message.text %></p>
            <p>Date: <%= message.added %></p>
          </div>
        <% }); %>
      </ul>
      <% } else { %>
        <div>
          <p>No messages found. Be the first to create one!</p>
        </div>
      <% } %>
      
      <a href="/new">Create</a>
  </body>
</html>
