<html>
  <body>
    <ul>
        <% messages.forEach(function(message) { %>
          <div>
            <h2><%= message.username %></h2>
            <p>Text: <%= message.text %></p>
            <p>Date: <%= message.added %></p>
          </div>
        <% }); %>
      </ul>
      <a href="/new">Create</a>
  </body>
</html>
